{
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:fetch/recommended"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100
      }
    ],
    "react/prefer-stateless-function": [
      0,
      {
        "ignorePureComponents": true
      }
    ],
    "react/prop-types": [0]
  },
  "plugins": ["prettier", "fetch"],
  "parser": "babel-eslint"
}
